<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMMERCE</title>
</head>
<body>
    <nav>
        {{#if req.session.user}}
        <center><h1>Bienvenido</h1></center>
        <center><h3>Email: {{req.session.user.username}} - Role: {{req.session.user.role}}</h3></center>
        <form action="/api/sessions/logout" method="post">
        <center><button type="submit">LOGOUT</button></center>
        </form>
        </nav>
        {{/if}}
    {{{body}}}
</body>
</html>